@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Raleway", sans-serif;
}

body {
  background-color: #fdf8f3;
}
